/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), Inter, sans-serif;
  font-variation-settings: 'wght' 410, 'wdth' 100, 'opsz' 0;
  color: var(--font-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gragient);
  background-color: #d3d3d3;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.header {
  margin: 0 auto;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  background-color: var(--background-color);
  inline-size: var(--inline-size);
  border: var(--border);
  padding-block: clamp(122px, 119.18px + 0.75vw, 130px);
  margin-block-start: var(--margin-block-start);
  margin-block-end: var(--margin-block-end);
}

.title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  text-align: center;
  padding-block-end: 20px;
}

.subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-block-end: 100px;
}

.card-list__item {
  margin: 0 auto;
  inline-size: var(--inline-size);
  list-style-type: none;
  padding-block-end: 51px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: var(--border);
  overflow: hidden;
}

.card__title {
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' 715, 'wdth' 100, 'opsz' 0;
  padding: 4px 10px;
  border-block-end: var(--border);
}

.image__wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  max-block-size: 700px;
  overflow: hidden;
}

.image-container {
  display: block;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filter-grayscale {
  filter: grayscale(60%);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-multy {
  filter: hue-rotate(90deg) brightness(120%) contrast(60%);
}

.card-decor {
  position: absolute;
  right: 25px;
  top: 27px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  color: rgba(0 0 0 / 0.5);
  text-shadow: 1px 0 0 var(--text-stroke), -1px 0 0 var(--text-stroke),
    0 1px 0 var(--text-stroke), 0 -1px 0 var(--text-stroke);
  z-index: 2;
}

@supports (
  (text-stroke: 1px var(--text-stroke)) or
    (-webkit-text-stroke: 1px var(--text-stroke))
) {
  .card-decor {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.text__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-block-start: var(--border);
}

.card__text {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: 117%;
}

.card__like-conteiner {
  display: flex;
  align-self: flex-end;
  justify-self: center;
}

.card__icon-button {
  display: flex;
  max-block-size: 38px;
  background: none;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.button {
  position: relative;
  display: inline-block;
  margin: auto;
  background: #fff;
  border: var(--border);
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.button:after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  translate: -100% 0%;
  transition: translate 0.5s ease-in-out;
}

.button:hover::after {
  translate: 0% 0%;
  transition: translate 0.5s ease-in-out;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
  transition: border 0.3s ease;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s 0 linear;
}

.like-icon {
  align-self: center;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s 0 linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0 linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0 linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s 0.1s ease-in backwards;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in backwards;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  min-block-size: 38px;
  min-inline-size: 130px;
}

.button__text {
  position: relative;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  color: var(--font-color-button);
  mix-blend-mode: difference;
  z-index: 2;
}

.save-button {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  gap: 8px;
  cursor: pointer;
}

.save-button__svg-container {
  width: 21px;
  color: var(--font-color-button);
  mix-blend-mode: difference;
  z-index: 3;
}

.dialog {
  display: none;
  border: var(--border);
  inline-size: clamp(341px, 336.77px + 1.13vw, 353px);
  min-block-size: 191px;
  padding: 30px;
}

.dialog[open] {
  display: block;
  margin-block-end: 365px;
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
}

.dialog__svg-container {
  margin: auto;
}

.floppy__icon {
  width: 39px;
}

.dialog__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__close-button {
  display: inline-block;
  width: 100%;
  padding: 12px 0 10px;
  margin-block-start: 30px;
}

@media (width <= 375px) {
  .header {
    --margin-block-start: 100px;
    --margin-block-end: 98px;

    margin-block-start: var(--margin-block-start);
    margin-block-end: var(--margin-block-end);
  }

  .card-list__item {
    padding-block-end: 50px;
  }

  .save-button {
    flex-direction: column;
    padding: 16px 18px;
  }

  .save-button__svg-container {
    width: 28px;
  }

  .dialog[open] {
    margin-block-end: 240px;
  }
}
