/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'Press Start 2P';
  --wght: 410;
  --wdth: 100;
  --font-color: #000;
  --font-color-button: #fff;
  --background-gragient: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  --background-color: #fff;
  --background-color-button: #000;
  --inline-size: clamp(375px, 260.56px + 30.52vw, 700px);
  --border: 2px solid #000;
  --margin-block-start: 98px;
  --margin-block-end: 96px;
  --main-font-size: 18px;
  --text-stroke: #fff;
  --contour-color: #000;
  --animation-fill-color: red;
  --sparks: var(--animation-fill-color);
}
